Source: ukui-notebook
Section: x11
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>,
Build-Depends: debhelper-compat (= 12),
               cmake,
               qtbase5-dev,
               qt5-qmake,
               qtchooser,
               qtscript5-dev,
               qttools5-dev-tools,
               qttools5-dev,
               qtbase5-dev-tools,
               libgsettings-qt-dev,
               libqt5x11extras5-dev,
               libkf5windowsystem-dev,
               libx11-dev,
               pkgconf,
               libglib2.0-dev,
	           libkysdk-qtwidgets-dev,
               libkysdk-log-dev,
               libkysdk-diagnostics-dev,
               libkysdk-config-dev,
               libkysdk-utils-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ukui/ukui-sidebar.git
Vcs-Git: https://github.com/ukui/ukui-sidebar.git
Vcs-Browser: https://github.com/ukui/ukui-sidebar

Package: ukui-notebook
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Conflicts:ukui-sidebar( < 3.1.0-1-0037.2)
Description: parallels toolbox for UKUI
 The ukui-sidebar is mainly used in the desktop operating system.
 It pops up from the right side of the desktop in the form of a tray,
 displaying some application notification messages and some cutting
 storage information.
