Source: ukui-notebook
Section: x11
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>,
Build-Depends: debhelper-compat (= 12),
               libglib2.0-dev,
               qtbase5-dev,
               qttools5-dev-tools,
	       	   libgsettings-qt-dev,
	           libdconf-dev,
               libx11-dev,
	           libkf5windowsystem-dev,
	           libqt5x11extras5-dev,
	           pkg-config,
	           libukui-log4qt-dev,
               libkysdk-base-dev,
               libkysdk-kabase-dev
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ukui/ukui-sidebar.git
Vcs-Git: https://github.com/ukui/ukui-sidebar.git
Vcs-Browser: https://github.com/ukui/ukui-sidebar

Package: ukui-notebook
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Conflicts:ukui-sidebar( < 3.1.0-1-0037.2)
Description: parallels toolbox for UKUI
 The ukui-sidebar is mainly used in the desktop operating system.
 It pops up from the right side of the desktop in the form of a tray,
 displaying some application notification messages and some cutting
 storage information.
